.header {
    background-color: #000203;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el encabezado esté en la parte superior */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Cambiado a space-between para distribuir los elementos en los extremos */
    align-items: center;
}

.flecha-header{
    padding: 5px;
}
.button-back{
    margin-left: 50px;
    text-align: center;
    background-color: rgb(54, 54, 195); /* Color de fondo */
    color: #fff; /* Color de texto */
    border-color: rgb(54, 54, 195);
    padding:3px 5px 2px 5px;
}


.select-women,
.select-men {
    margin-right: 15px;
}

.select-women{
    margin-left: 90px;
}

.select-children{
    margin-right: 50px;
}


.select-women select,
.select-men select,
.select-children select {
    background-color: #000203;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 1rem;
}

.select-women select:hover:not(:focus),
.select-men select:hover:not(:focus),
.select-children select:hover:not(:focus) {
    background-color: #81baf0;
}

.select-women select:focus,
.select-men select:focus,
.select-children select:focus {
    background-color: #000203; 
    color: #ffffff; 
    outline: none;
    box-shadow: 0 0 5px #9ec4ea; 
}

/*Botones*/
.carrito{
    margin-top:2px;
    color:#fff
}

.btn-shopcart{
    background-color:darkgreen;
    border-color:darkgreen;
    margin-right:60px;
    margin-left:40px;
    padding:7px 14px;
}

.btn-shopcart:hover{
    background-color:rgb(158, 252, 158);
    border-color:rgb(158, 252, 158);
}

.btn-register{
    background-color:rgb(236, 130, 9);
    border-color:rgb(236, 130, 9);
    color: #fff;
    font-weight: 500;
    margin-right:15px;
    margin-left:105px;
}

.btn-register:hover{
    background-color:rgb(248, 187, 118);
    border-color:rgb(248, 187, 118);
}

.btn-login{
    background-color: #0c8acd; 
    border-color:#0c8acd; 
    color: #fff;
    font-weight: 500;
}

.btn-login:hover{
    background-color: #9adafc; 
    border-color:#9adafc; 
    color: #fff;
    font-weight: 500;
}

.btn-sale{
    background-color:darkgreen;
    border-color:darkgreen;
    color: #fff;
    font-weight: 500;
    font-size:medium;
    padding:7px 8px;
    margin-right:20px;
  }

  .btn-sale:hover{
    background-color:rgb(158, 252, 158);
    border-color:rgb(158, 252, 158);
    color: #fff;
  }

  .btn-edit-profile{
    background-color: #db4d19; 
    border-color:#db4d19; 
    color: #fff;
    font-weight: 500;
    padding:7px 15px;
    margin-left:20px;
    margin-right:20px;
  }

.btn-edit-profile:hover{
    background-color: #f8a88a; 
    border-color: #f8a88a; 
}


.btn-user-admin{
    background-color: #6f0b23; 
    border-color:#6f0b23; 
    color: #fff;
    font-weight: 500;
    margin-right:20px;
    margin-left:40px;
  }

  .btn-user-admin:hover{
    background-color: #d19eaa; 
    border-color:#d19eaa;
    color: #fff; 
  }

  .btn-logout{
    background-color: #5a5958; 
    border-color:#5a5958; 
    color: #fff;
    font-weight: 500;
  }

  .btn-logout:hover{
    background-color: #e8e7e6; 
    border-color:#e8e7e6; 
  }

 
